body { 
  background-color:#223; 
  color:#fafafa;
  font-family:monospace;
  font-size:16px; 
}
#page { 
  width:760px; 
  margin:36px auto; 
}
a, a:link { 
  color:#48dbfb !important;
}
a:hover { 
  color:#ff9ff3 !important; 
}
table { 
  border-collapse:collapse;
}
th { 
  text-align:left;
}
th, td { 
  border:1px solid #99a; 
  padding:4px 8px !important; 
  line-height:24px; 
  font-size:16px; 
}
td img { 
  vertical-align:middle;
  border-radius:3px;
  margin-right:4px; 
  margin-top:-2px; 
}